---
title: Blogdown
author: ''
date: '2018-02-23'
slug: blogdown
categories:
  - R
  - lesson
tags: 
  - blogdown
summary: "Tips and tricks I've learned about blogdown and Hugo"
output:
  blogdown::html_page:
    toc: true
---


<div id="TOC">
<ul>
<li><a href="#including-a-table-of-contents">Including a table of contents</a></li>
<li><a href="#shortening-the-front-page-summary">Shortening the front page summary</a></li>
</ul>
</div>

<p>I decided the other day that I didn’t really like the blog capabilities that RStudio and Github pages offered. It was super easy to create the Rmarkdown documents, but in the end, the design was limited and I was struggling with some internal navigation issues.</p>
<p>Last year, when I originally got the bug to create a blog as a way of memorializing what I was learning/doing in R, I had started with the <code>blogdown</code> package. At that time, the <a href="https://bookdown.org/yihui/blogdown/" target="_blank">blogdown book</a> was still in development, and I struggled with exactly what was going on. I got everything up and running, but that was through luck, and brute force, trial-and-error efforts. I was never going to keep track of my code, or what I was learning if it was difficult, so I went with the standard setup instead.</p>
<p>Transition to today, and there is so much blogdown documentation, and it is so detailed and clear, that I got this up and running in an hour. The book is great as a first read, but <a href="https://alison.rbind.io/post/up-and-running-with-blogdown/" target="_blank">this post</a> has everything that is needed.</p>
<div id="including-a-table-of-contents" class="section level1">
<h1>Including a table of contents</h1>
<p>A table of contents is really simple to include, simply include the following in the YAML metadata of the Rmd document. Use the <code>serve_site()</code> command and you’ll see it’s included at the top of the page.</p>
<pre><code>output:
  blogdown::html_page:
    toc: true</code></pre>
</div>
<div id="shortening-the-front-page-summary" class="section level1">
<h1>Shortening the front page summary</h1>
<p>My blogdown blog relies on Hugo, and more specifically the <a href="https://themes.gohugo.io/hugo-tranquilpeak-theme/" target="_blank">tranquilpeak</a> theme. One issue with Hugo, is that it automatically provides a summary of each post that is 70 words long. Unfortunately, if within those first 70 words you happen to have headers or tables, Hugo makes no distinction and just throws it all in.</p>
<p>Looking through the <code>.toml</code> file didn’t provide any answers, but luckily <a href="https://github.com/rstudio/blogdown/issues/21" target="_blank">issue 21</a> for the blogdown package was opened, and within that was the answer I was looking for.</p>
<p>With the tranquilpeak theme, a user can make a subtle change to the theme to control just what the summary is showing, and it doesn’t even have to be the first <code>n</code> number of words.</p>
<p>Find the summary file in <code>themes/hugo-tranquilpeak-theme/layouts/_default/summary.html</code> and replace line 43 <code>{{ .Summary }}</code> with <code>{{ if .Params.Summary }} {{ .Params.Summary | markdownify }} {{ else }} {{ .Summary }} {{ end }}</code></p>
<p>Then, in the header include a specific <code>summary:</code> section and write your summary.</p>
<pre class="r"><code>title: Blogdown
author: &#39;&#39;
date: &#39;2018-02-23&#39;
slug: blogdown
categories:
  - R
tags: 
  - blogdown
summary: &quot;This is the summary...&quot;</code></pre>
</div>
