---
title: 'Snippets: data frame manipulation'
author: ''
date: '2018-02-25'
slug: snippets-data-frame-manipulation
categories:
  - R
tags:
  - data frame
  - NA
summary: "These commands are relevant for data frames and their manipulation."
output:
  blogdown::html_page:
    toc: true
thumbnailImagePosition: left
thumbnailImage: http://res.cloudinary.com/dn83gtg0l/image/upload/v1529964813/dots.jpg
---


<div id="TOC">
<ul>
<li><a href="#multiple-character-columns-to-numeric">Multiple character columns to numeric</a></li>
<li><a href="#data-frame-factor-to-character">Data frame factor to character</a></li>
<li><a href="#renaming-columns-with-special-characters">Renaming columns with special characters</a></li>
<li><a href="#finding-missing-columns-and-adding-to-data-frame-if-missing">Finding missing columns and adding to data frame if missing</a></li>
<li><a href="#setting-nas-to-zero">Setting NAs to Zero</a></li>
<li><a href="#replacing-nas-with-previous-value-by-group">Replacing NAs with Previous Value by Group</a></li>
<li><a href="#getting-rid-of-null-values-within-dataframe">Getting rid of NULL values within dataframe</a></li>
</ul>
</div>

<p>Snippet files are periodically updated with how-to’s for data wrangling. These commands are relevant for data frames and their manipulation.</p>
<div id="multiple-character-columns-to-numeric" class="section level1">
<h1>Multiple character columns to numeric</h1>
<pre class="r"><code># can either reference columns by position or names
df[c(1,3,5,9)] &lt;- sapply(df[c(1,3,5,9)], as.numeric)</code></pre>
</div>
<div id="data-frame-factor-to-character" class="section level1">
<h1>Data frame factor to character</h1>
<pre class="r"><code>df &lt;- df %&gt;% mutate_if(is.factor, as.character)

# this can also be done using the purrr package 
library(purrr)
library(dplyr)
df &lt;- df %&gt;% map_if(is.factor, as.character) %&gt;% as_data_frame</code></pre>
</div>
<div id="renaming-columns-with-special-characters" class="section level1">
<h1>Renaming columns with special characters</h1>
<p>This is primarily useful if special characters are necessary for graphing. For instance, if we were to use the <code>read.csv</code> command when reading in a csv that has special characters such as a <code>%</code> or <code>+</code> sign, R converts these to dots <code>(.)</code>. But if we were to try to use these variables in graphs, we need to put these characters back into the variable names.</p>
<pre class="r"><code># can also reference with specific columns using names(df)[i:j]
names(mlb)</code></pre>
<pre><code>##  [1] &quot;X.&quot;    &quot;Name&quot;  &quot;Team&quot;  &quot;G&quot;     &quot;PA&quot;    &quot;HR&quot;    &quot;R&quot;     &quot;RBI&quot;  
##  [9] &quot;SB&quot;    &quot;BB.&quot;   &quot;K.&quot;    &quot;ISO&quot;   &quot;BABIP&quot; &quot;AVG&quot;   &quot;OBP&quot;   &quot;SLG&quot;  
## [17] &quot;wOBA&quot;  &quot;wRC.&quot;  &quot;BsR&quot;   &quot;Off&quot;   &quot;Def&quot;   &quot;WAR&quot;</code></pre>
<pre class="r"><code># choose which cols to name change
names(mlb)[1:17] &lt;- gsub(x = names(mlb)[1:17], pattern = &quot;\\.&quot;, replacement = &quot;%&quot;)
# now can add in the + to the final column
names(mlb) &lt;- gsub(x = names(mlb), pattern = &quot;\\.&quot;, replacement = &quot;+&quot;)
names(mlb)</code></pre>
<pre><code>##  [1] &quot;X%&quot;    &quot;Name&quot;  &quot;Team&quot;  &quot;G&quot;     &quot;PA&quot;    &quot;HR&quot;    &quot;R&quot;     &quot;RBI&quot;  
##  [9] &quot;SB&quot;    &quot;BB%&quot;   &quot;K%&quot;    &quot;ISO&quot;   &quot;BABIP&quot; &quot;AVG&quot;   &quot;OBP&quot;   &quot;SLG&quot;  
## [17] &quot;wOBA&quot;  &quot;wRC+&quot;  &quot;BsR&quot;   &quot;Off&quot;   &quot;Def&quot;   &quot;WAR&quot;</code></pre>
</div>
<div id="finding-missing-columns-and-adding-to-data-frame-if-missing" class="section level1">
<h1>Finding missing columns and adding to data frame if missing</h1>
<p>This can be a problem if you’re programmatically using <code>mutate()</code> across named columns that may or may not be present within a specific dataset.</p>
<pre class="r"><code>df &lt;- data.frame(a = 1:4, e = 4:1)
nms &lt;- c(&quot;a&quot;, &quot;b&quot;, &quot;c&quot;, &quot;d&quot;, &quot;e&quot;) # columns expected in the data frame

Missing &lt;- setdiff(nms, names(df)) # find names of missing columns
df[Missing] &lt;- 0                  # add them with 0&#39;s
df &lt;- df[nms]                     # set columns in proper order

df</code></pre>
<pre><code>##   a b c d e
## 1 1 0 0 0 4
## 2 2 0 0 0 3
## 3 3 0 0 0 2
## 4 4 0 0 0 1</code></pre>
</div>
<div id="setting-nas-to-zero" class="section level1">
<h1>Setting NAs to Zero</h1>
<p>Assume a data frame that has NAs and you want to set any NA to zero, it is straightforward to do so.</p>
<pre class="r"><code>df = tibble(
  x = c(1,NA,3,NA,5), 
  y = c(1:5), 
  z = x ^ 2 + y) %&gt;% 
  data.frame()

df[is.na(df)] &lt;- 0

head(df)</code></pre>
<pre><code>##   x y  z
## 1 1 1  2
## 2 0 2  0
## 3 3 3 12
## 4 0 4  0
## 5 5 5 30</code></pre>
<p>We can also selectively choose the column to change by referencing it specifically</p>
<pre class="r"><code>df = tibble(
  x = c(1,NA,3,NA,5), 
  y = c(1,NA,3,NA,5),
  z = 1:5) %&gt;%
  data.frame()

df$x[is.na(df$x)] &lt;- 0

head(df)</code></pre>
<pre><code>##   x  y z
## 1 1  1 1
## 2 0 NA 2
## 3 3  3 3
## 4 0 NA 4
## 5 5  5 5</code></pre>
<p>Or, within a dplyr pipe, we can use this, and this will work across the entire data frame</p>
<pre class="r"><code>mutate_all(funs(replace(., is.na(.), 0)))</code></pre>
</div>
<div id="replacing-nas-with-previous-value-by-group" class="section level1">
<h1>Replacing NAs with Previous Value by Group</h1>
<p>Occasionally you can end up with a data frame that has a series of NA, such as below. The goal is to replace those NA simply. The <code>tidyr</code> package can handle this with the <code>fill</code> command. Note that this is a slow process though, so if you have a large dataframe, this is probably not the best option.</p>
<pre class="r"><code>df &lt;- data.frame(userID = c(rep(21, 10), rep(22, 10)), 
                 date = c(&quot;2017-12-10&quot;, rep(NA, 9), 
                          rep(&quot;2017-12-11&quot;, 10)))
df</code></pre>
<pre><code>##    userID       date
## 1      21 2017-12-10
## 2      21       &lt;NA&gt;
## 3      21       &lt;NA&gt;
## 4      21       &lt;NA&gt;
## 5      21       &lt;NA&gt;
## 6      21       &lt;NA&gt;
## 7      21       &lt;NA&gt;
## 8      21       &lt;NA&gt;
## 9      21       &lt;NA&gt;
## 10     21       &lt;NA&gt;
## 11     22 2017-12-11
## 12     22 2017-12-11
## 13     22 2017-12-11
## 14     22 2017-12-11
## 15     22 2017-12-11
## 16     22 2017-12-11
## 17     22 2017-12-11
## 18     22 2017-12-11
## 19     22 2017-12-11
## 20     22 2017-12-11</code></pre>
<pre class="r"><code>df %&gt;% group_by(userID) %&gt;% 
  fill(date)</code></pre>
<pre><code>## # A tibble: 20 x 2
## # Groups:   userID [2]
##    userID date      
##     &lt;dbl&gt; &lt;fct&gt;     
##  1     21 2017-12-10
##  2     21 2017-12-10
##  3     21 2017-12-10
##  4     21 2017-12-10
##  5     21 2017-12-10
##  6     21 2017-12-10
##  7     21 2017-12-10
##  8     21 2017-12-10
##  9     21 2017-12-10
## 10     21 2017-12-10
## 11     22 2017-12-11
## 12     22 2017-12-11
## 13     22 2017-12-11
## 14     22 2017-12-11
## 15     22 2017-12-11
## 16     22 2017-12-11
## 17     22 2017-12-11
## 18     22 2017-12-11
## 19     22 2017-12-11
## 20     22 2017-12-11</code></pre>
</div>
<div id="getting-rid-of-null-values-within-dataframe" class="section level1">
<h1>Getting rid of NULL values within dataframe</h1>
<p>Occasionally, I’ll be working with data containing cells that, rather than simply being left empty, have been populated with ‘NULL’. This can be a pain, especially when trying to determine how much data is missing.</p>
<p>This is a quick function to overwrite all ‘NULL’ values and then replace with NA.</p>
<pre class="r"><code>#function 
rm_null &lt;- function(x){
  str_replace_all(x, &quot;NULL&quot;, &quot;&quot;)
}

# apply to data
df_clean &lt;- df %&gt;% mutate_all(funs(rm_null))
# replace with NA
df_clean[df_clean == &quot;&quot;] &lt;- NA</code></pre>
</div>
