---
title: 'Snippets: General R'
author: ''
date: '2018-07-10'
slug: snippets-general-r
categories:
  - R
tags:
  - R
  - RStudio
summary: "Tips and useful commands for general R and RStudio."
output:
  blogdown::html_page:
    toc: true
thumbnailImagePosition: left
thumbnailImage: http://res.cloudinary.com/dn83gtg0l/image/upload/v1529964813/dots.jpg
---


<div id="TOC">
<ul>
<li><a href="#easily-updating-r">Easily updating R</a></li>
<li><a href="#finding-all-functions-in-a-package">Finding all functions in a package</a></li>
<li><a href="#getting-the-names-of-datasets-within-a-package">Getting the names of datasets within a package</a></li>
<li><a href="#loading-all-functions-within-a-folder">Loading all functions within a folder</a></li>
</ul>
</div>

<p>Snippet files periodically updated. These functions and commands are relevant for working with R and RStudio.</p>
<div id="easily-updating-r" class="section level1">
<h1>Easily updating R</h1>
<p>The <code>updateR</code> package is fantastic. Just using this line of code with the admin_password set will update everything and keep all packages in the new version of R.</p>
<pre class="r"><code>updateR(admin_password = &quot;admin_password&quot;)</code></pre>
</div>
<div id="finding-all-functions-in-a-package" class="section level1">
<h1>Finding all functions in a package</h1>
<p>This is especially useful when using a dev version of a package. Often, there are github files, but it’s sometimes easier to just use <code>asNamespace</code> to see functions.</p>
<p>For example, let’s look at the functions available within the spotifyR package.</p>
<pre class="r"><code>library(spotifyr)
fns &lt;- unclass(lsf.str(envir = asNamespace(&quot;spotifyr&quot;), all = T))

fns</code></pre>
<pre><code>##  [1] &quot;get_album_data&quot;              &quot;get_album_popularity&quot;       
##  [3] &quot;get_album_tracks&quot;            &quot;get_albums&quot;                 
##  [5] &quot;get_artist_albums&quot;           &quot;get_artist_audio_features&quot;  
##  [7] &quot;get_artists&quot;                 &quot;get_discography&quot;            
##  [9] &quot;get_playlist_audio_features&quot; &quot;get_playlist_tracks&quot;        
## [11] &quot;get_playlists&quot;               &quot;get_related_artists&quot;        
## [13] &quot;get_spotify_access_token&quot;    &quot;get_track_audio_features&quot;   
## [15] &quot;get_track_popularity&quot;        &quot;get_user_audio_features&quot;    
## [17] &quot;get_user_playlist_count&quot;     &quot;get_user_playlists&quot;         
## [19] &quot;parse_playlist_list_to_df&quot;  
## attr(,&quot;envir&quot;)
## &lt;environment: namespace:spotifyr&gt;
## attr(,&quot;mode&quot;)
## [1] &quot;function&quot;</code></pre>
</div>
<div id="getting-the-names-of-datasets-within-a-package" class="section level1">
<h1>Getting the names of datasets within a package</h1>
<p>If in RStudio, you can simply use <code>data(package = &quot;package_name&quot;)</code> and a new window will open up with a list.</p>
<p>Or by using the <code>data()</code> function we can find datasets and information about each.</p>
<pre class="r"><code>d &lt;- data(package = &quot;dplyr&quot;)
# names can be pulled 
d$results[, &#39;Item&#39;]</code></pre>
<pre><code>## [1] &quot;band_instruments&quot;  &quot;band_instruments2&quot; &quot;band_members&quot;     
## [4] &quot;nasa&quot;              &quot;starwars&quot;          &quot;storms&quot;</code></pre>
<p>While it’s probably not necessary to do this, it’s also possible to pull the dimensions for the promised data.</p>
<pre class="r"><code>d &lt;- data(package = &quot;dplyr&quot;)
# assign 
nm &lt;- d$results[, &#39;Item&#39;]
# call the promised data
data(list = nm, package = &quot;dplyr&quot;)
# get dimensions
lapply(mget(nm), dim)</code></pre>
<pre><code>## $band_instruments
## [1] 3 2
## 
## $band_instruments2
## [1] 3 2
## 
## $band_members
## [1] 3 2
## 
## $nasa
## [1] 41472     4
## 
## $starwars
## [1] 87 13
## 
## $storms
## [1] 10010    13</code></pre>
</div>
<div id="loading-all-functions-within-a-folder" class="section level1">
<h1>Loading all functions within a folder</h1>
<p>The <code>R.utils</code> package also has a command for this, but this is a simple way to source all of your functions at once.</p>
<pre class="r"><code># set directory location, or use here() rather than glue
# load functions
file.sources = list.files(path = glue(dir, &quot;functions&quot;), pattern=&quot;*.R&quot;)
sapply(glue(&quot;{dir}functions/{file.sources}&quot;), source, .GlobalEnv)</code></pre>
</div>
